<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAPOTECA</title>
    <link href="../../../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
    <link href="../utilities/css/mapoteca.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
		
<header>
	<img src="../../../public/img/top-bar-top-2024.png" width="1280" height="10" alt=""/>
  <div class="row">
		<div class="col-6 float-left">
			<img src="../../../public/img/logo-2024.png" class="w-50" alt=""/>
			<img src="../../../public/img/separador_identidad.png" width="30" height="87" alt=""/>
			<img src="../../../public/img/SIG Educativo vf-transparencia PNG.png" width="179" height="90" alt=""/>	
		</div>
	<div class="col-3">
			<button type="button" class="btn btn-lg mt-4">Mapa interactivo</button>
		</div>
		<div class="col-2">
		  <button type="button" class="btn btn-lg float-right mt-4">Mapoteca</button>
		</div>
	</div>
</header>
<body>
	<div class="container-fluid">
	  <ul id="clothingnav1" class="nav nav-tabs" role="tablist">
			<li class="nav-item"> <a class="nav-link active" href="#home1" id="hometab1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
				<img src="../../../public/img/mapas-instituciones.svg" alt="" width="15" height="15"/> Institucional</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#paneTwo1" role="tab" id="hatstab1" data-toggle="tab" aria-controls="hats">
				<img src="../../../public/img/mapas-transporte.svg" alt="" width="15" height="15"/> Transporte</a> </li>
		<li class="nav-item"> <a class="nav-link" href="#paneThree1" role="tab" id="hatstab2" data-toggle="tab" aria-controls="hats">
			<img src="../../../public/img/mapas-general.svg" alt="" width="15" height="15"/> General</a> </li>
	  </ul>
		  <!-- Content Panel -->
		  <div id="clothingnavcontent1" class="tab-content">
			<div role="tabpanel" class="tab-pane fade show active" id="home1" aria-labelledby="hometab1">
				<div class="card col-md-3"> <img class="card-img-top border border-3 border-dark p-1" src="../../../public/img/mapainteractivo_miniatura.png" alt="Card image cap">
					<div class="card-body">
					<h5 class="card-title">Instituciones educativas</h5>
					<p class="card-text">Mapa de de los establecimientos educativos dependientes del Ministerio de Educacion de la Provincia del Chubut</p>
					<a href="#" class="btn btn-success">ver</a> 
					</div>
				</div>
            </div>
			<div role="tabpanel" class="tab-pane fade" id="paneTwo1" aria-labelledby="hatstab1">
			  <div class="card col-md-3"> <img class="card-img-top border border-3 border-dark p-1" src="../../../public/img/recorrido_1.png" alt="Card image cap">
					<div class="card-body">
					<h5 class="card-title">Región III: Recorrido Nivel Primario</h5>
					<p class="card-text">Recorrido de la Región III a traves de diferentes establecimientos de nivel primario</p>
					<a href="#" class="btn btn-success">ver</a> 
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="paneThree1" aria-labelledby="hatstab2">
			  <div class="card col-md-3"> <img class="card-img-top border border-3 border-dark p-1" src="../../../public/img/mapapolitico_sample.png" alt="Card image cap">
					<div class="card-body">
					<h5 class="card-title">Mapa Físico Político: Chubut</h5>
					<p class="card-text">Mapa Físico Político de la provincia del Chubut</p>
					<a href="#" class="btn btn-success">ver</a> 
					</div>
			  </div>
			</div>
	  </div>
</div>
<script src="../../../js/jquery-3.4.1.min.js"></script>
<script src="../../../js/popper.min.js"></script>
<script src="../../../js/bootstrap-4.4.1.js"></script>
</body>
<footer>
	<div class="row">
	 	<div class="col-lg-4">
			<img src="../../../public/img/marca-ministerio-gob-2024-pie.png" class="w-75" alt=""/>
		</div>
	  <div class="col-lg-4"></div>
	</div>
<div class="row">
 	<div class="col-lg-3"></div>
	 	<div class="col-lg-6 pt-3">
			<p style="color:#726868;padding-bottom:15px;font-size:14px;text-align: center">
			© 2024 · Ministerio de Educación del Chubut<br>Sitio web desarrollado por el area de SIG Educativo - Subsecretaría de Coordinación</p>
		</div>
	</div>
</footer>

</html>
