.modal-content{
    width: 900px;
    right: 40%;
}



@media (max-width: 765px) {
    .modal-content{
        width: 500px;
        right: 0%;
    }
}

@media (max-width: 480px) {
    .modal-content{
        width: 350px;
        right: 0%;
    }
}

.botonIrBuscador {
    width: 5%;
}

.botonAñadirBuscador {
    width: 95%;
}

#ventanaInfra {
    width: 600px;
}

#colEqui {
    height: 122px;
}

#ventanaInfra img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

#botonInfoFotos{
    margin: 0;
    padding: 0;
}

#divMostrarMatricula li{
    padding-left: 20px;
    list-style: none;
}

#matriculamujeres {
    list-style: none;
}

#matriculavarones {
    list-style: none;
}
