doctype html
html(lang="es")
    
    head
        meta(charset="utf-8")
        meta(name="description", content="Herramienta de visualización, gestión y análisis de información georreferenciada relativa al sistema educativo a nivel local, regional y provincial")
        meta(name="author", content="Dirección de Estadística y Evaluación Educativa del Ministerio de Educación del Gobierno del Chubut")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/leaflet.css")
        link(rel="stylesheet", type="text/css", href="css/mapa.css")
        link(rel="stylesheet", type="text/css", href="css/leaflet.legend.css")
        link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="css/Control.FullScreen.css")
        link(rel="stylesheet", type="text/css", href="css/easy-button.css")
        link(rel="stylesheet", type="text/css", href="css/iconLayers.css")
        link(rel="stylesheet", type="text/css", href="buscador/utilities/css/buscador.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
        script(src="/js/xlsx.full.min.js")
        script(src="/js/filesaver.js")
        script(src="/js/leaflet.js")
        script(src="/js/leaflet.browser.print.js")
        script(src="utilities/js/info_loader.js")
        link(rel="shortcut icon", type="image/x-icon", href="icons/logo_pestaña.png")
        title Informacion de Establecimiento Educacativo


    body
        img(src="mapoteca/utilities/img/top-bar-top-2024.png", class="w-100", height="10px")
        div(class="row")
            div(class="col-5 float-left")
                a(href="https://chubut.edu.ar/sigeducativo/" target="_blank")
                    img(src="mapoteca/utilities/img/SIG Educativo vf-transparencia PNG.png" class="pb-2" width="130" height="76" alt="")
        <div style="float: left; top: 46%; position: fixed; left: 3%;">
            <button id="anterior"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
            </button>
        </div>
        <div id="InfoAdicional">
            <div class="container">
                <h4 id="fnainfoadicional" class="m-3" style="color:#0d6efd"></h4>
                <div class="row ">
                    div    
                        <!-- Button trigger modal -->
                        <button type="button" style="float: right;" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalImagenInfo">
                            img(src="/img/portada/imagenInfo.png" width="25px" height="25px")
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalImagenInfo" tabindex="-1" aria-labelledby="modalImagenInfoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalImagenInfoLabel">Sobre Nosotros:</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                img#imagenInfo(src="", alt="Diapositiva informativa sobre la escuela" width='830px' height='590px')
                                <br>
                                img#imagenFotos(src="", alt="Diapositiva de imagenes de la escula" width='830px' height='590px')
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        h1#cabecera ESTABLECIMIENTO EDUCATIVO N°:
                </div>
                div#cabecera(class="row")
                    <div class="col m-2 ">
                        <div class="card h-100">
                            <div class="card-header card-header-custom">
                                <div class="d-flex">
                                    <div>Datos Institucionales</div>
                                    <div class="ms-auto"><i class="bi bi-pin-angle"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <label for="cueanexoinfoadicional" class="text-black fw-bold" >CUE-Anexo:</label>
                                <p id="cueanexoinfoadicional" class="card-text card-text-custom"></p>
                                //-<label for="funinfoadicional" class="text-black fw-bold" >Funcion:</label>
                                //-<p id="funinfoadicional" class="card-text card-text-custom"></p>
                                <label for="sedeinfoadicional" class="text-black fw-bold" >Sede:</label>
                                <p id="sedeinfoadicional" class="card-text card-text-custom"></p>
                                <label id='anexoinfoadicionallabel' for="anexoinfoadicional" class="text-black fw-bold" style="display: none;">Anexo:</label>
                                <p id="anexoinfoadicional" class="card-text card-text-custom" style="display: none;"></p>
                                <label for="regioninfoadicional" class="text-black fw-bold" >Región:</label>
                                <p id="regioninfoadicional" class="card-text card-text-custom"></p>
                                <label for="departamentoinfoadicional" class="text-black fw-bold" >Departamento:</label>
                                <p id="departamentoinfoadicional" class="card-text card-text-custom"></p>
                                <label for="Localidadinfoadicional" class="text-black fw-bold" >Localidad:</label>
                                <p id="Localidadinfoadicional" class="card-text card-text-custom"></p>
                                <label for="calleinfoadicional" class="text-black fw-bold" >Domicilio:</label>
                                <p id="calleinfoadicional" class="card-text card-text-custom"></p>
                                <label for="cod_postalinfoadicional" class="text-black fw-bold" >Código Postal:</label>
                                <p id="cod_postalinfoadicional" class="card-text card-text-custom"></p>
                                <label for="amginfoadicional" class="text-black fw-bold" >Ámbito:</label>
                                <p id="amginfoadicional" class="card-text card-text-custom"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col m-2">
                        <div class="card h-100">
                            <div class="card-header card-header-custom">
                                <div class="d-flex">
                                    <div>Datos de Contacto</div>
                                    <div class="ms-auto"><i class="bi bi-chat-square-text"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <label for="telefonoinfoadicional" class="text-black fw-bold" >Teléfono del Establecimiento:</label>
                                <p id="telefonoinfoadicional" class="card-text card-text-custom"></p>
                                <label for="emailinfoadicional" class="text-black fw-bold" >Email:</label>
                                <p id="emailinfoadicional" class="card-text card-text-custom"></p>
                                <label for="sitio_webinfoadicional" class="text-black fw-bold" >Sitio Web:</label>
                                <p id="sitio_webinfoadicional" class="card-text card-text-custom"></p>
                                <label for="resp_respnsableinfoadicional" class="text-black fw-bold" >Director:</label>
                                <p id="resp_respnsableinfoadicional" class="card-text card-text-custom"></p>
                                <label for="resp_telresponsableinfoadicional" class="text-black fw-bold" >Telefono del Director:</label>
                                <p id="resp_telresponsableinfoadicional" class="card-text card-text-custom"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col m-2">
                        <div class="h-100">
                            <div class="card">
                                <div class="card-header card-header-custom">
                                    <div class="d-flex">
                                        <div>Oferta Educativa</div>
                                        <div class="ms-auto"><i class="bi bi-pencil-square"></i></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <label for="modalidadinfoadicional"><b>Modalidad/es</b></label>
                                    <p id="modalidadinfoadicional" class="card-text card-text-custom"></p>
                                    <label for="nivelesinfoadicional"><b>Nivel/es</b></label>
                                    <p id="nivelesinfoadicional" class="card-text card-text-custom"></p>
                                    <label for="matriculainfoadicional"><b>Matrícula total: </b><p id="matriculatotal" class="d-inline"></p></label>
                                        <ul id="matriculainfoadicional">
                                            <li id="matriculamujeres">Mujeres: </li>
                                            <li id="matriculavarones">Varones: </li>
                                        </ul>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-header card-header-custom">
                                    <div class="d-flex">
                                        <div>Funcionamiento</div>
                                        <div class="ms-auto"><i class="bi bi-stopwatch"></i></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <label for="jornadainfoadicional"><b>Jornada Simple/Completa: </b></label>
                                    <p id="jornadainfoadicional" class="card-text card-text-custom"></p>
                                    <label for="turnoinfoadicional"><b>Turno/s: </b></label>
                                    <p id="turnoinfoadicional" class="card-text card-text-custom"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row mb-2" id="ventanaInfra">
                    <div class="col m-2" id="colEqui">
                        <div class="card h-100">
                            <div class="card-header card-header-custom">
                                <div class="d-flex">
                                    <div>Equipamiento, Tecnología y Pedagogía</div>
                                    <div class="ms-auto"><i class="bi bi-building"></i></div>
                                </div> 
                            </div>
                            <div class="card-body">
                                <p id="bibliotecainfoadicional" class="card-text card-text-custom" style="display: inline-block;"></p>
                                <p id="informaticainfoadicional" class="card-text card-text-custom" style="display: inline-block;"></p>
                                <p id="laboratorioinfoadicional" class="card-text card-text-custom" style="display: inline-block;"></p>
                                <p id="artisticainfoadicional" class="card-text card-text-custom" style="display: inline-block;"></p>
                                <p id="tallerinfoadicional" class="card-text card-text-custom" style="display: inline-block;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col m-2">
                        <div class="card h-100">
                            <div class="card-header card-header-custom">
                                <div class="d-flex">
                                    <div>Infraestructura</div>
                                    <div class="ms-auto"><i class="bi bi-tools"></i></div>
                                </div> 
                            </div>
                            <div class="card-body">	
                                <p id="aguainfoadicional" class="card-text card-text-custom"></p>
                                <p id="energiainfoadicional" class="card-text card-text-custom"></p>
                                <p id="internetinfoadicional" class="card-text card-text-custom"></p>
                                <p id="calefaccioninfoadicional" class="card-text card-text-custom"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    //<button type="button" class="btn btn-outline-info btn-sm" id="exportarinfoadicional" onclick='downloadAsExceInfoAdicional()'>Exportar a excel</button>
                    //<a class='btn btn-outline-primary btn-sm' href='/' target='_self'>Volver al mapa</a>
                </div>
            </div>
            
        </div>
        <div style="float: right; top: 46%; position: fixed; left: 91%;">
            <button id="siguiente"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </button>
        </div>
