doctype html
html(lang="es")

    head
        meta(charset="utf-8")
        meta(name="description", content="Herramienta de visualización, gestión y análisis de información georreferenciada relativa al sistema educativo a nivel local, regional y provincial")
        meta(name="author", content="Dirección de Estadística y Evaluación Educativa del Ministerio de Educación del Gobierno del Chubut")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/leaflet.css")
        link(rel="stylesheet", type="text/css", href="css/mapa.css")
        link(rel="stylesheet", type="text/css", href="css/leaflet.legend.css")
        link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="css/Control.FullScreen.css")
        link(rel="stylesheet", type="text/css", href="css/easy-button.css")
        link(rel="stylesheet", type="text/css", href="css/iconLayers.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css")
        link(rel="stylesheet", type="text/css" href="utilities/css/buscador.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
        script(src="/js/xlsx.full.min.js")
        script(src="/js/filesaver.js")
        script(src="/js/leaflet.js")
        script(src="/js/leaflet.browser.print.js")
        script(src="/utilities/js/buscador_loader.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
  


    link(rel="shortcut icon", type="image/x-icon", href="icons/favicon-500x500.png")
    title Mapa Educativo Interactivo de la Provincia del Chubut
  
    body
        <div class="modal-dialog" id='modalBusqueda'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Buscar establecimientos educativos por:</h5>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-question btn-sm" data-bs-target="#staticBackdropConsulta" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close" onclick="return resetForm();"></button>	
                    </div>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="numeroesc-tab" data-bs-toggle="tab" data-bs-target="#numeroesc" type="button" role="tab" aria-controls="numeroesc" aria-selected="true">Número</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#nombreessc" type="button" role="tab" aria-controls="nombreessc" aria-selected="false">Nombre</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="cue-tab" data-bs-toggle="tab" data-bs-target="#cue" type="button" role="tab" aria-controls="cue" aria-selected="false">CUE-Anexo</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="oferta-tab" data-bs-toggle="tab" data-bs-target="#oferta" type="button" role="tab" aria-controls="cue" aria-selected="false">Oferta Educativa</button>
                        </li>             
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="localizacion-tab" data-bs-toggle="tab" data-bs-target="#localizacion" type="button" role="tab" aria-controls="cue" aria-selected="false">Localización Geográfica</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="otro-tab" data-bs-toggle="tab" data-bs-target="#otro" type="button" role="tab" aria-controls="otro" aria-selected="false">Otros</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        //pestaña buscar por Numero de escuela					
                        <div class="tab-pane fade show active" id="numeroesc" role="tabpanel" aria-labelledby="numeroesc-tab">
                            <h5 class="mt-3">Número del establecimiento: </h5>
                            <div class="p-3 shadow-sm mb-3">
                                <div class="row ">
                                    <div class="form-group col-sm-12">
                                        <div class="form-group">
                                            <input list="f-select-numeroesc" id="select-numero" class="w-100" name="buscadornumero" name="buscadornumero" placeholder="Ingrese el número del establecimiento">
                                            <datalist id="f-select-numeroesc">
                                            //aca se cargan los elementos "option" desde el js que carga el buscador
                                            </datalist>
                                            <small id="infoNumero" class="form-text text-muted">
                                                <i class="bi bi-info-circle">Si existen coincidencias, se van a mostrar para que seleccione alguna.</i> 
                                            </small>
                                            <small id="infoNumeroError" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El número no es válido</small>
                                            <small id="infoNumeroErrorNumero" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El número no se encuentra</small>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="f-numeroesc-block-item" style="display: none;">
                                <h5>Seleccionar establecimiento:</h5>
                                <div class="p-3 shadow-sm mb-3">
                                    <div class="row ">
                                        <div class="form-group col-sm-12">
                                            <div class="container" size = "5" id="f-numeroesc-item" role="tablist"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small id="infoNumNombreRepetidoFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe esta capa</small>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Cancelar búsqueda</button>
                                <button id="f-nroesc-item_btn_clean" type="button" class="btn btn-outline-info btn-sm" onclick="limpiarItemsNroEsc()" style="display:none">Limpiar busqueda</button>
                                <button  id="f-infonumeroesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>		
                                <button  id="f-nroesc-item_btn"  type="button" class="btn btn-outline-success btn-sm" onclick="nroSelect()">Realizar búsqueda</button>
                                <button class="btn btn-outline-warning" data-bs-target="#nombreCapaModal" data-bs-toggle="modal">Seleccionar capa</button>	
                            </div>
                        </div>
                        // pestaña buscar por Nombre de escuela
                        <div class="tab-pane fade" id="nombreessc" role="tabpanel" aria-labelledby="nombreessc-tab">
                            <h5 class="mt-3">Nombre del establecimiento: </h5>
                            <div class="p-3 shadow-sm mb-3">
                                <div class="row ">
                                    <div class="form-group col-sm-12">
                                        <div class="form-group">
                                            <input list="f-select-nombreesc" class="w-100" id="select-nombre" name="buscadornombre" placeholder="Ingrese el número de la institucion">
                                            <datalist id="f-select-nombreesc">
                                            //aca se cargan los elementos "option" desde el js que carga el buscador
                                            </datalist>
                                            <small id="infoNombre" class="form-text text-muted"><i class="bi bi-info-circle"></i> Si existen coincidencias, se van a mostrar para que seleccione alguna.</small>
                                            <small id="infoNombreError" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El nombre no es válido</small>
                                            <small id="infoNombreErrorNonombre" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El nombre no se encuentra</small>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="nombreesc-block-item" style="display: none;">
                                <h5>Seleccionar establecimiento:</h5>
                                <div class="p-3 shadow-sm mb-3">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <div class="container" size = "5" id="f-nombreesc-item" role="tablist"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small id="infoNomNombreRepetidoFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe esta capa</small>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Cancelar búsqueda</button>
                                <button id="f-nombreesc-item_btn_clean" type="button" class="btn btn-outline-info btn-sm" onclick="limpiarItemsNombreEsc()" style="display:none">Limpiar busqueda</button>
                                <button  id="f-infonombreesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>	
                                <button  id="f-nombreesc-item_btn"  type="button" class="btn btn-outline-success btn-sm" onclick="nombreSelect()">Realizar búsqueda</button>
                                <button class="btn btn-outline-warning" data-bs-target="#nombreCapaModal" data-bs-toggle="modal">Seleccionar capa</button>		
                            </div>
                        </div>
                        //pestaña buscar por Cue-Anexo de escuela						
                        <div class="tab-pane fade" id="cue" role="tabpanel" aria-labelledby="cue-tab">
                            <h5 class="mt-3">Número de CUE-Anexo del establecimiento: </h5>
                            <div class="p-3 shadow-sm mb-3">
                                <div class="row ">
                                    <div class="form-group col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="f-cue" placeholder="Ingresar el CUE-Anexo del establecimiento" class="form-control" id="select-cue" autofocus>
                                            <small id="infoCueAnexo" class="form-text text-muted" style="display: block;"><i class="bi bi-info-circle" ></i> Si existe el CUE-Anexo, se va a agregar al mapa una capa que contiene los datos de su busqueda.</small>
                                            <small id="infoCueAnexoError" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El CUE-Anexo no es válido</small>
                                            <small id="infoCueAnexoErrorNoExiste" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> El CUE-Anexo no existe</small>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="cueesc-block-item" style="display: none;">
                                <h5>Seleccionar establecimiento:</h5>
                                <div class="p-3 shadow-sm mb-3">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <div class="container" size = "5" id="f-cueesc-item" role="tablist"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small id="infoCueNombreRepetidoFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe esta capa</small>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" onclick="return resetForm();">Cancelar búsqueda</button>
                                <button  id="f-infocueesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>
                                <button type="button" class="btn btn-outline-success btn-sm" onclick="cueAnexoSelect()">Realizar búsqueda</button>
                                <button class="btn btn-outline-warning" data-bs-target="#nombreCapaModal" data-bs-toggle="modal">Seleccionar capa</button>	
                            </div>
                        </div>
                        //pestaña consultar por oferta						
                        <div class="tab-pane fade" id="oferta" role="tabpanel" aria-labelledby="oferta-tab">
                            <div id="formOferta">
                                <h5 class="mt-3"> Oferta Educativa: </h5>
                                <div class="p-3 shadow-sm mb-3">
                                    <div class="row ">
                                        <div class="form-group col-sm-6">
                                            <label for="buscadormodalidad">Modalidad:</label>
                                            //-<input list="f-select-modalidadesc" id="buscadormodalidad" name="buscadormodalidad" placeholder="Ingrese la modalidad">
                                            <select list="buscadormodalidad" id="f-select-modalidadesc" name="buscadormodalidad" placeholder="Ingrese la modalidad">
                                                <option selected value="todo">Sin seleccionar</option>
                                                //-aca se cargan los elementos "option" desde el js que carga el buscador
                                            </select>
                                            <small id="infoofertaNoModalidadFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Debe seleccionar una modalidad.</small>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="buscadornivel">Nivel:</label>
                                            <select list="buscadornivel" id="f-select-nivelesc" name="buscadornivel" placeholder="Ingrese el nivel">
                                                <option selected value="todo">Sin seleccionar</option>
                                                //-aca se cargan los elementos "option" desde el js que carga el buscador
                                            </select>
                                            <small id="infoofertamodalidadNoConnFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                            <small id="infoofertamodalidadNoRepFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                        </div>
                                    </div>
                                </div>
                                //-				
                                    <div id="f-plan-estudio" style="display: none;">
                                        <h5 class="mt-1">Planes de estudio:</h5>
                                        <div class="p-3 shadow-sm mb-3">
                                            <div class="row ">
                                                <div class="form-group col-sm-6">
                                                    <label for="orientacion">Orientación</label>
                                                    <select class="form-control form-select form-select-sm" id="orientacion" name="orientacion" aria-label=".form-select-sm example">
                                                        <option selected value="todo">Sin seleccionar</option>
                                                    </select>
                                                    <div id="infoorientacionspinner" class="spinner-border text-primary spinner-border-sm" role="status" style="display: none;">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <small id="infoofertaplaetudioNoConnFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                                    <small id="infoofertafertaplaetudioNoRepFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label for="dictado">Modalidad de dictado</label>
                                                    <select class="form-control form-select form-select-sm" id="dictado" name="dictado" aria-label=".form-select-sm example">
                                                        <option value="todo" selected>Sin seleccionar</option>
                                                        <option value="Presencial">Presencial</option>
                                                        <option value="A distancia">A distancia</option>	
                                                    </select>
                                                    <div id="infodictadospinner" class="spinner-border text-primary spinner-border-sm" role="status" style="display: none;">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <small id="infoofertadictadoNoConnFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                                    <small id="infoofertafertadictadoNoRepFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <small id="infoOfertaNombreRepetidoFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe esta capa.</small>
                                <small id="infoOfertaNoDatosFinalesFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                <small id="infoOfertaNoConnFinalesFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" onclick="return resetForm();">Cancelar búsqueda</button>
                                    <button  id="f-infoofertaesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>
                                    <button  id="f-nombreesc-item_btn"  type="button" class="btn btn-outline-success btn-sm" onclick="ofertaSelect()">Realizar búsqueda</button>
                                    <button class="btn btn-outline-warning" data-bs-target="#nombreCapaModal" data-bs-toggle="modal">Seleccionar capa</button>	
                                </div>
                            </div>
                        </div>
                        //-pestaña consultar por localizacion						
                        <div class="tab-pane fade" id="localizacion" role="tabpanel" aria-labelledby="localizacion-tab">
                            <form id="formLocalizacion">
                                <h5 class="mt-3">Locación geográfica: </h5>
                                <div class="p-3 shadow-sm mb-3">
                                    <div class="row ">
                                        <div class="form-group col-sm-4">
                                            <label for="regionFormControlSelect">Región</label>
                                            <select class="form-control form-select form-select-sm" id="regionFormControlSelect" name="regionFormControlSelect" aria-label=".form-select-sm example">
                                                <option selected value="todo">Sin seleccionar</option>
                                                <option value="1">I</option>
                                                <option value="2">II</option>
                                                <option value="3">III</option>
                                                <option value="4">IV</option>
                                                <option value="5">V</option>
                                                <option value="6">VI</option>
                                            </select>
                                            <small id="inforegionFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Debe seleccionar una región.</small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="buscadorlocalidad">Localidad:</label>
                                            <input list="f-select-localidadesc" id="buscadorlocalidad" name="buscadorlocalidad" placeholder="Ingrese el número del establecimiento">
                                            <datalist id="f-select-localidadesc">
                                            //aca se cargan los elementos "option" desde el js que carga el buscador
                                            </datalist>
                                            <div id="inforegionspinner" class="spinner-border text-primary spinner-border-sm" role="status" style="display: none;">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <small id="inforegionNoDatosFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                            <small id="inforegionNoConnFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="buscadordomicilio">Direccion:</label>
                                            <input list="f-select-domicilioesc" id="buscadordomicilio" name="buscadordomicilio" placeholder="Ingrese la direccion del establecimiento">
                                            <datalist id="f-select-domicilioesc">
                                            //aca se cargan los elementos "option" desde el js que carga el buscador
                                            </datalist>
                                            <small id="infolocNoDatosFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                            <small id="infolocNoConnFormControlSelect" class="form-text" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                        </div>
                                    </div>
                                </div>
                                <small id="infoLocNombreRepetidoFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe esta capa.</small>
                                <small id="infolocNoDatosFinalesFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se han obtenido datos.</small>
                                <small id="infolocNoConnFinalesFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" onclick="return resetForm();">Cancelar búsqueda</button>
                                    <button  id="f-infodomicilioesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>
                                    <button type="submit" class="btn btn-outline-success btn-sm"><span id="consultalocalizacionspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span> Realizar búsqueda</button>
                                </div>
                            </form>
                        </div>
                        //pestaña consultar por Otrositerios
                        <div class="tab-pane fade" id="otro" role="tabpanel" aria-labelledby="otro-tab">
                            <form id="formOtros">
                                <fieldset id="paso1" style="display: block;">
                                    <h5 class="mt-3">Funcionamiento:</h5>
                                    <div class="p-3 shadow-sm mb-3">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="turnoFormControlSelect">Turno de funcionamiento</label>
                                                <select class="form-control form-select form-select-sm" id="turnoFormControlSelect" name="turnoFormControlSelect" aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="manana">Mañana</option>
                                                    <option value="tarde">Tarde</option>
                                                    <option value="vespertino">Noche</option>
                                                    <option value="mañana extendida">Mañana extendida</option>
                                                    <option value="tarde extendida">Tarde extendida</option>
                                                    <option value="ninguno">Ninguno de los anteriores</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="jornadaFormControlSelect">Jornada extendida/completa</label>
                                                <select class="form-control form-select form-select-sm" id="jornadaFormControlSelect" name="jornadaFormControlSelect"  aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="completa">Completa</option>
                                                    <option value="extendida">Extendida</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="form-group col-sm-6">
                                                <label for="ambitoFormControlSelect">Ámbito</label>
                                                <select class="form-control form-select form-select-sm" id="ambitoFormControlSelect" name="ambitoFormControlSelect" aria-label=".form-select-sm example">
                                                    <option selected value="todo">Sin seleccionar</option>
                                                    <option value="rural">Rural</option>
                                                    <option value="urbano">Urbano</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="sectorFormControlSelect">Sector de gestión</label>
                                                <select class="form-control form-select form-select-sm" id="sectorFormControlSelect" name="sectorFormControlSelect" aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="estatal">Estatal</option>
                                                    <option value="privado">Privado</option>
                                                    <option value="social">Social/cooperativa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="paso1apaso2()">Siguiente</button>	
                                    </div>		
                                </fieldset>
                                <fieldset id="paso2" style="display: none;">						
                                    <h5 class="mt-3">Características Pedagógicas Educativas:</h5>
                                    <div class="p-3 shadow-sm mb-3">
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label for="idiomaFormControlSelect">Idioma</label>
                                                <select class="form-control form-select form-select-sm" id="idiomaFormControlSelect" name="idiomaFormControlSelect" aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="ingles">Inglés</option>
                                                    <option value="frances">Francés</option>
                                                    <option value="portugues">Portugués</option>
                                                    <option value="italiano">Italiano</option>
                                                    <option value="aleman">Alemán</option>
                                                    <option value="hebreo">Hebreo</option>
                                                    <option value="indigena">Lengua Indigena</option>
                                                    <option value="otro">Ninguno de los anteriores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>																	
                                    <h5 class="mt-1">Equipamiento, Tecnología y Pedagogía:</h5>
                                    <div class="p-3 shadow-sm mb-3">
                                        <div class="row ">
                                            <div class="form-group col-sm-4">
                                                <label for="bibliotecaFormControlSelect">Biblioteca escolar</label>
                                                <select class="form-control form-select form-select-sm" id="bibliotecaFormControlSelect" name="bibliotecaFormControlSelect" aria-label=".form-select-sm example">
                                                
                                                    <option selected value="todo">Sin seleccionar</option>
                                                    <option value="si">Si tiene biblioteca</option>
                                                    <option value="no">No tiene biblioteca</option>		
                                                </select>
                                            </div>												
                                            <div class="form-group col-sm-4">
                                                <label for="laboratorioFormControlSelect">Laboratorio de informática</label>
                                                <select class="form-control form-select form-select-sm" id="laboratorioFormControlSelect" name="laboratorioFormControlSelect" aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="si">Si tiene laboratorio</option>
                                                    <option value="no">No tiene laboratorio</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="conexioninternetFormControlSelect">Conexión a internet</label>
                                                <select class="form-control form-select form-select-sm" id="conexioninternetFormControlSelect" name="conexioninternetFormControlSelect" aria-label=".form-select-sm example">
                                                    <option value="todo" selected>Sin seleccionar</option>
                                                    <option value="si">Si tiene internet</option>
                                                    <option value="no">No tiene internet</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" class="btn btn-outline-info btn-sm" onclick="paso2apaso1()">Anterior</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="paso2apaso3()">Siguiente</button>	
                                    </div>	
                                </fieldset>
                                <fieldset id="paso3" style="display: none;">
                                    <h5 class="mt-3">Como visualizar los datos de la consulta:</h5>
                                    <div class="p-3 shadow-sm mb-3">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div class="form-group">
                                                    <label for="nombrecapa">Nombre de la capa </label>
                                                    <input type="text" id="nombrecapa" name="nombrecapa" placeholder="Nombre de la capa que se va a agregar" class="f-nombre form-control">
                                                    <small class="form-text text-muted"><i class="bi bi-info-circle"></i> Se va a agregar al mapa una capa que contiene los datos de su busqueda.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <small id="infoOtrosNoSelecFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Debe seleccionar, al menos, un campo</small>
                                    <small id="infoOtrosNombreRepetidoFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Ya existe una capa con este nombre</small>
                                    <small id="infotNoNombreFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> Debe indicar el nombre de la capa que se va agregar</small>
                                    <small id="infoOtrosNoResultFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> La consulta, no obtuvo resultados</small>	
                                    <small id="infoOtrosNoConnFormControlSelect" class="form-text mb-3" style="color:#dc3545;display: none;"><i class="bi bi-info-circle"></i> No se ha podido consultar los datos. Vuelva a intentarlo más tarde.</small>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" onclick="return resetForm();">Cancelar búsqueda</button>
                                        <button type="button" class="btn btn-outline-info btn-sm" onclick="paso3apaso2()">Anterior</button>
                                        <button  id="f-infootroesc-item_btn"  type="button" class="btn btn-outline-primary btn-sm" onclick="verInfo(event)">Más información</button>
                                        <button type="submit" class="btn btn-outline-success btn-sm btn-submit"><span id="consultaotrosspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span> Realizar búsqueda</button>
                                    </div>	
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        